# Hubspot CONFIG
# HubSpot API Key
HAPI_KEY="x"
# HubSpot Base URL Endpoint
HENDPOINT="https://api.hubapi.com/"

# Eupago CONFIG
# Eupago API Key
EAPI_KEY="x"
# Eupago Base URL Endpoint
EENDPOINT="https://sandbox.eupago.pt/"

# TOCOnline CONFIG
# TOCOnline Base URL Endpoint
TENDPOINT="x"
# TOCOnline OAuth Base URL Endpoint
TENDPOINT_OAUTH="x"
# TOCOnline Client ID
TCLIENTID="x"
# TOCONline Client Secret
TCLIENT_SECRET="x"
# TOCOnline Redirect OAuth URL
TREDIRECT_OAUTH="x"