django
djangorestframework
markdown
django-filter
faker
pytest
pytest-django
python-dotenv
requests
pylint
pyrefly
django-cors-headers
django-stubs
djangorestframework-stubs
types-requests
requests-oauthlib
types-requests-oauthlib